@model Clothing_shopping.Models.Product
@using Newtonsoft.Json

@{
    string imgUrl = "/images/Products/Degbug.png";
    if (!string.IsNullOrEmpty(Model.Images))
    {
        try
        {
            var listImg = JsonConvert.DeserializeObject<List<string>>(Model.Images);
            imgUrl = listImg.FirstOrDefault() ?? imgUrl;
        }
        catch (Exception ex)
        {
            var errorMessage = ex.Message;
            Console.WriteLine($"Error deserializing JSON: {errorMessage}");
        }
    }

    var firstVariant = Model.ProductVariants.FirstOrDefault();
}

<div class="card">
    <div class="card_heart"></div>
    <div class="card_cart"></div>
    <div class="card_img"></div>
    <div class="card_title"></div>
    <div class="card_price"></div>
    <div class="card_color"></div>
    <div class="card_action"></div>
</div>