@{
    var CurrentController = ViewContext.RouteData.Values["controller"].ToString();
}


<footer class="border-top footer text-muted" style="@(CurrentController == "Login" ? "display: none;" : "")" >
    <div>

    </div>
    <hr />
    div>div
</footer >
