@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model Clothing_shopping.Views.Shared._HeaderModel
@{
    var CurrentController = ViewContext.RouteData.Values["controller"].ToString();
    var userID = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var FullName = HttpContextAccessor.HttpContext.Session.GetString("FullName");
}
<header>
    <div class="header_container">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="/images/logo.svg" alt="" />
            </a>
        </div>
        <nav>
            <div>
                <a><span>Nam</span></a>
            </div>
            <div>
                <a><span>Nữ</span></a>
            </div>
            <div>
                <a><span>Trẻ em</span></a>
            </div>
        </nav>
        <div class="user">
            <div>
                @if (userID == null)
                {
                    <a asp-controller="Login" asp-action="Login">
                        <i class="fa-solid fa-user"></i>
                    </a>
                }
                else
                {
                    <div id="user_drop_down">
                        <i class="fa-solid fa-user"></i>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>

                    <div class="profile" id="user_profile">
                        <div class="cloumn column_profile">
                            <a asp-controller="Login" asp-action="Profile">
                                <span>@FullName</span>
                            </a>
                        </div>
                        <div class="cloumn">
                            <a>Hộ trợ và trợ giúp</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="cloumn">
                            <a>Settings</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="cloumn column_logOut">
                            <a asp-controller="Login" asp-action="LogOut">Đăng xuất</a>
                        </div>
                    </div>
                }
            </div>
            <div>
                <i class="fa-regular fa-heart"></i>
            </div>
            <div>
                <i class="fa-solid fa-bell"></i>
            </div>
        </div>
    </div>
</header>

<div class="btn_use" style="@(CurrentController=="Login" ? "display:none;" : "")">
    <div class="search">
        <form action="/" method="post">
            <div>
                <input type="" value="" />
            </div>
            <button>
                <i class="fa-solid fa-x"></i>
            </button>
        </form>
    </div>
    <div class="btn_use_container">
        <div>
            <i class="fa-solid fa-house"></i>
        </div>
        <div>
            <a>
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div>
            <a>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</div>