@{
    ViewData["Title"] = "Home Page";
}

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                @* <video aria-label="BỘ SƯU TẬP LifeWear Thu / Đông 2025" playsinline="" preload="metadata" autoplay="true" loop="" poster="data:image/svg+xml;utf8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;100%&quot; height=&quot;100%&quot; viewBox=&quot;0 0 20 20&quot;&gt;&lt;rect fill=&quot;none&quot; width=&quot;20&quot; height=&quot;20&quot; /&gt;&lt;/svg&gt;" data-src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/LWC/women_lwc_home_pc.mp4" src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/LWC/women_lwc_home_pc.mp4" draggable="true"><source type="video/mp4"><img data-src="https://im.uniqlo.com/global-cms/spa/rese3973eab203063ffad0288d3a5a010f6fr.jpg" alt="BỘ SƯU TẬP LifeWear Thu / Đông 2025" width="0" height="0" loading="lazy" src="https://im.uniqlo.com/global-cms/spa/rese3973eab203063ffad0288d3a5a010f6fr.jpg"></video> *@
            <video aria-label="BỘ SƯU TẬP LifeWear Thu / Đông 2025"
                   playsinline
                   preload="auto"
                   autoplay
                   loop
                   muted
                   poster="/images/poster_vd1.jpg">
                <source src="videos/VD_1.mp4" type="video/mp4">
            </video>
                <span>Hello World</span>
            </div>
            <div class="swiper-slide">
                @* <video aria-label="Uniqlo U BST Thu/Đông 2025" playsinline="" preload="metadata" autoplay="true" loop="" poster="data:image/svg+xml;utf8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;100%&quot; height=&quot;100%&quot; viewBox=&quot;0 0 20 20&quot;&gt;&lt;rect fill=&quot;none&quot; width=&quot;20&quot; height=&quot;20&quot; /&gt;&lt;/svg&gt;" data-src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/Collaboration/CDC/home_women_01_pc.mp4" src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/Collaboration/CDC/home_women_01_pc.mp4" draggable="true"><source type="video/mp4"><img data-src="https://im.uniqlo.com/global-cms/spa/resc7ff92805d0e473904c48684e6adbe6bfr.jpg" alt="Uniqlo U BST Thu/Đông 2025" width="0" height="0" loading="lazy" src="https://im.uniqlo.com/global-cms/spa/resc7ff92805d0e473904c48684e6adbe6bfr.jpg"></video> *@
            <video aria-label="Uniqlo U BST Thu/Đông 2025"
                   playsinline
                   preload="auto"
                   autoplay
                   loop
                   muted
                   poster="/images/poster_vd1.jpg">
                <source src="videos/VD_2.mp4" type="video/mp4">
            </video>
                <span>cout << "Hello World""</span>
            </div>
            <div class="swiper-slide">                
                @* <video aria-label="POP MART" playsinline="" preload="metadata" autoplay="true" loop="" poster="data:image/svg+xml;utf8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;100%&quot; height=&quot;100%&quot; viewBox=&quot;0 0 20 20&quot;&gt;&lt;rect fill=&quot;none&quot; width=&quot;20&quot; height=&quot;20&quot; /&gt;&lt;/svg&gt;" data-src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/UT/pop_mart/home_women_01_pc.mp4" src="https://image.uniqlo.com/UQ/CMS/video/jp/2025/HOME/GL_Aseets/UT/pop_mart/home_women_01_pc.mp4"><source type="video/mp4"><img data-src="https://im.uniqlo.com/global-cms/spa/res2e4c17819902ae19fe32558d993aebe3fr.jpg" alt="POP MART" width="0" height="0" loading="lazy" src="https://im.uniqlo.com/global-cms/spa/res2e4c17819902ae19fe32558d993aebe3fr.jpg"></video> *@
            <video aria-label="POP MART"
                   playsinline
                   preload="auto"
                   autoplay
                   loop
                   muted
                   poster="/images/poster_vd1.jpg">
                <source src="videos/VD_3.mp4" type="video/mp4">
            </video>
                <span>systeam.out.println("Hello World")</span>
            </div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
