
@{
    ViewData["Title"] = "Login";
    // var login = true;
}

<div class="login">

    @* <div class="login_container">
        
    </div> *@

    <form asp-action="Login" method="post">
        <h3>Login</h3>
        <div class="input_form">
            <input id="Email_login" name="email" type="email" placeholder=" " required/>
            <label for="Email_login">Email</label>
        </div>
        <div class="input_form">
            <input id="Password_login" name="password" type="password" placeholder=" " required/>
            <label for="Password_login">Mật khẩu</label>
            <i class="fa-solid fa-lock login_lock"></i>
        </div>
        <div>
            <button type="submit">Đăng nhập</button>
        </div>
        <div class="auth-links">
            <a href="">Quên mật khẩu</a>
            <span>or</span>
            <a asp-controller="User" asp-action="Register">Đăng ký</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const Password_login = document.getElementById("Password_login");
        const login_lock = document.querySelector(".login_lock");
        lock_password(login_lock, Password_login);
    </script>
}

