<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Quản lý chung</div>
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            @* Quản lý kho hàng *@
            <div class="sb-sidenav-menu-heading">Quản lý kho hàng</div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div> Quản lý Sản phẩm
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="Products" asp-action="ListProduct" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div> Danh sách sản phẩm
                    </a>
                    <a class="nav-link" asp-controller="Products" asp-action="ListProductVariant" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div> Quản lý Biến thể
                    </a>
                    <a class="nav-link" asp-controller="Products" asp-action="ListCategory" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div> Danh mục
                    </a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div> Quản lý Đơn hàng
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link" asp-controller="Order" asp-action="ListOrderPending" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div> Chờ xác nhận
                    </a>
                    <a class="nav-link" asp-controller="Order" asp-action="ListOrderPacking" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                        Đang đóng gói
                    </a>
                    <a class="nav-link" asp-controller="Order" asp-action="ListOrderShipping" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                        Đang giao (Shipping)
                    </a>
                    <a class="nav-link" asp-controller="Order" asp-action="ListOrderCompleted" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-check-circle"></i></div>
                        Hoàn thành
                    </a>
                    <a class="nav-link" asp-controller="Order" asp-action="Cancelled" asp-area="Admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-ban"></i></div> Hủy đơn
                    </a>
                </nav>
            </div>

            @* Người dùng *@
            <div class="sb-sidenav-menu-heading">Người dùng</div>
            <a class="nav-link" asp-controller="Customers" asp-action="Customers" asp-area="Admin">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div> Hồ sơ khách hàng
            </a>
            <a class="nav-link" asp-area="Admin" asp-controller="Customers" asp-action="History">
                <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div> Lịch sử mua hàng
            </a>

            @* Voucher & Marketing *@
            <div class="sb-sidenav-menu-heading">Voucher và Marketing</div>
            <a class="nav-link" asp-area="Admin" asp-controller="Voucher" asp-action="Vouchers">
                <div class="sb-nav-link-icon"><i class="fas fa-ticket-alt"></i></div> Mã giảm giá
            </a>
            <a class="nav-link" asp-area="Admin" asp-controller="Voucher" asp-action="FlastSale">
                <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div> Flash Sale
            </a>

            @* Báo cáo thống kê *@
            <div class="sb-sidenav-menu-heading">Báo cáo và thống kê</div>
            <a class="nav-link" href="@Url.Action("Sales", "Products")">
                <div class="sb-nav-link-icon"><i class="fas fa-fire"></i></div> Tồn kho & Sản phẩm bán chạy
            </a>
            <a class="nav-link" href="@Url.Action("DevFeature", "Utility")">
                <div class="sb-nav-link-icon"><i class="fas fa-warehouse"></i></div> Tỷ lệ hoàn hàng
            </a>
        </div>
    </div>
</nav>