.cart-page {
    .cart-table {
        th {
            font-size: 14px;
            text-transform: uppercase;
            color: #666;
        }
        @media (max-width: 767.98px) {
            thead {
                display: none;
            }

            tr {
                display: block;
                position: relative;
                border-bottom: 1px solid #eee;
                padding: 15px 0;

                td {
                    display: block;
                    border: none;
                    padding: 5px 0;
                    text-align: left;

                    &:first-child { 
                        position: absolute;
                        top: 15px;
                        left: 0;
                    }

                    &:nth-child(2) { 
                        padding-left: 30px; 
                    }

                    &.price-unit {
                        display: none;
                    }

                    &:nth-child(4) { 
                        position: absolute;
                        bottom: 15px;
                        left: 100px; 
                    }

                    &.price-total { 
                        text-align: right;
                        font-size: 18px;
                    }

                    &:last-child { 
                        position: absolute;
                        top: 15px;
                        right: 0;
                    }
                }
            }
        }
    }
    .cart-summary-items {
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
        }
    }
}
