@use "root.scss" as *;

.Filter {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: $bgr_night;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    @mixin size {
        width: 390px;
        height: calc(100vh - 70px);
        position: absolute;
        padding: 5px 15px;
    }

    .Filter_Product {
        @include size;
        right: -390px;
        background: $bgr_1;
        transition: 0.5s;
        overflow-y: auto;

        .btn_filter {
            //background: $bgr_1;
            @include flex_end_center;

            i {
                @include flex_center_center;
                width: 25px;
                height: 25px;
                cursor: pointer;
                font-size: 16px;
            }
        }

        .filter_rangeSlider {
            margin-top: 10px;

            span {
                font-size: 20px;
            }

            .wrapper {
                position: relative;
                width: 100%;

                .values {
                    position: relative;
                    font-weight: 400;
                    font-size: 20px;

                    #range1, #range2 {
                        font-family: $font-family;
                    }

                    #range1 {
                        position: absolute;
                        left: 0;
                    }

                    #range2 {
                        position: absolute;
                        right: 0;
                    }
                }

                .container {
                    position: relative;
                    width: 100%;
                    height: 100px;
                    left: 0;
                    //margin-top: 30px;

                    input[type="range"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 100%;
                        outline: none;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        background-color: transparent;
                        pointer-events: none;
                    }

                    .slider-track {
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 5px;
                    }

                    input[type="range"]::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        height: 0px;
                    }

                    input[type="range"]::-moz-range-track {
                        -moz-appearance: none;
                        height: 0px;
                    }

                    input[type="range"]::-ms-track {
                        appearance: none;
                        height: 0px;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 1em;
                        width: 1em;
                        background-color: #3264fe;
                        cursor: pointer;
                        margin-top: -9px;
                        pointer-events: auto;
                        border-radius: 50%;
                    }

                    input[type="range"]::-moz-range-thumb {
                        -webkit-appearance: none;
                        height: 1.7em;
                        width: 1.7em;
                        cursor: pointer;
                        border-radius: 50%;
                        background-color: #3264fe;
                        pointer-events: auto;
                        border: none;
                    }

                    input[type="range"]::-ms-thumb {
                        appearance: none;
                        height: 1.7em;
                        width: 1.7em;
                        cursor: pointer;
                        border-radius: 50%;
                        background-color: #3264fe;
                        pointer-events: auto;
                    }

                    input[type="range"]:active::-webkit-slider-thumb {
                        background-color: #ffffff;
                        border: 1px solid #3264fe;
                    }
                }
            }
        }

        .btn_filterCS {
            @include flex_space-between_center;
            cursor: pointer;
            //background: green;
            font-size: 20px;
            margin: 10px 0;
        }
    }

    .filter_CS {
        @include size;
        right: 0;
        z-index: 1;
        background: $bgr_1;
        opacity: 0;
        visibility: hidden;

        .btn_filterCS_CS {
            @include flex_space-between_center;
            width: 100%;

            i {
                @include flex_center_center;
                font-size: 16px;
                width: 25px;
                height: 25px;
            }
        }

        .filter_size_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > div {
                @include flex_center_center;
                width: 40px;
                height: 40px;
                background: red;
                margin: 5px;
            }

            & > div.ac {
                background: blue;
                @include flex_center_center;
                width: 40px;
                height: 40px;
            }
        }

        .filter_list_CS {
            margin-top: 15px;
            margin-left: 390px;
            transition: 0.5s;
            max-height: calc(100vh - 210px);
        }
    }

    .filter_CS.ac {
        opacity: 1;
        visibility: visible;

        .filter_list_CS {
            margin-left: 0;
        }
    }

    .btn_render_product_filter {
        @include flex_space-between_center;
        width: 360px;
        position: absolute;
        bottom: 20px;

        a, button {
            @include flex_center_center;
            padding: 0;
            border: 1px solid black;
            background: $bgr_2;
            font-size: 20px;
            width: 150px;
            height: 50px;
            color: white;
        }
    }
}

.Filter.ac {
    opacity: 1;
    visibility: visible;

    .Filter_Product {
        right: 0;
    }
}
