@use "root.scss" as *;

header {
    font-family: "Helvetica Now Text", Helvetica, Ari;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    box-shadow: $box-shadow;

    .header_container {
        background: $bgr_navbar !important;
        @include flex_space-around_center;
        width: 100%;
        height: 70px;

        .logo {
            width: 150px;
            height: 70px;

            a {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        nav {
            @include flex_space-around_center;
            width: 272px;
            height: 55px;
            border: 1px solid black;
            border-radius: 20px;

            div {
                span {
                    font-family: "Helvetica Neue", sans-serif;
                    font-size: 1.2rem !important;
                    font-weight: 500 !important;
                    cursor: pointer;
                    width: 36px;
                    height: 23px;
                }

                .click_product::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 50px;
                    //background: black;
                    transition: width 0.4s ease;
                }

                a {
                    position: relative;
                    transition: border-bottom 0.3s ease;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: black;
                        transition: width 0.4s ease;
                    }
                    //a::after:hover,
                    //a.ac::after {
                    //    border-bottom: 2px solid black;
                    //}

                    &:hover::after,
                    &.ac::after {
                        width: 100%;
                    }
                }
            }

            .Nam, .Nu, .TreEm {
                position: relative;

                .Product {
                    @include flex_space-around;
                    border-radius: 20px;
                    max-height: 200px;
                    opacity: 0;
                    visibility: hidden;
                    padding: 20px;
                    overflow: hidden;
                    position: absolute;
                    top: 180%;
                    width: 1000px;
                    transform: translateY(5px);
                    //background: $bgr_navbar;
                    background: $bgr-1;
                    box-shadow: $box-shadow;
                    transition: all 0.5s ease;

                    .Product_column {
                        display: flex;
                        flex-direction: column;
                        line-height: 50px;

                        .items {
                            @include flex_center_center;
                            //width: 10px;;
                            img {
                                width: 25px;
                                height: fit-content;
                            }

                            span {
                                margin-bottom: 24px;
                                padding-left: 5px;
                                width: 100px;
                            }
                        }
                    }
                }

                .Nam_Product {
                    left: -400px;
                }

                .Nu_Product {
                    left: -489px;
                }

                .TreEm_Product {
                    left: -565px;
                    opacity: 0;
                }

                .nam_click_product:hover + .Nam_Product {
                    opacity: 1;
                    max-height: 500px;
                    visibility: visible;
                }

                .Nam_Product:hover {
                    opacity: 1;
                    max-height: 500px;
                    visibility: visible;
                }

                .nu_click_product:hover + .Nu_Product {
                    opacity: 1;
                    max-height: 500px;
                    visibility: visible;
                }

                .Nu_Product:hover {
                    opacity: 1;
                    max-height: 500px;
                    visibility: visible;
                }

                .treEm_click_product:hover + .TreEm_Product {
                    opacity: 1;
                    max-height: 600px;
                    visibility: visible;
                }

                .TreEm_Product:hover {
                    opacity: 1;
                    max-height: 600px;
                    visibility: visible;
                    overflow-y: auto;
                }
            }
        }

        .user {
            display: flex;
            justify-content: space-between;
            width: 150px;

            div {
                i {
                    @include flex_center_center;
                    font-size: 1rem;
                    border: 1px solid black;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }

                .fa-angle-down {
                    position: absolute;
                    //left: 0;
                    background: white;
                    top: 60%;
                    right: 0;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                }
            }

            div:nth-child(1) {
                position: relative;

                .profile {
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.4s ease;
                    //background: $bgr_navbar;
                    background: $bgr-1;
                    position: absolute;
                    top: 55px;
                    border-radius: 20px;
                    box-shadow: $box-shadow;
                    padding: 10px 20px;
                    z-index: 2;

                    i {
                        width: 25px;
                        height: 25px;
                        color: white;
                        background: black;
                    }

                    .cloumn {
                        @include flex_center_2;
                        height: 40px;
                        width: 210px;

                        a {
                            @include flex_center_2;
                            transition: background 0.3s ease, border-radius 0.3s ease;
                            width: 100%;
                            height: 40px;
                            position: relative;
                            padding: 10px;

                            span {
                                padding-left: 10px;
                            }
                        }

                        .fa-angle-right {
                            right: 10px;
                            border: none;
                            width: fit-content;
                            height: fit-content;
                            position: absolute;
                            color: black;
                            background: none;
                        }
                    }

                    hr {
                        margin: 5px 0;
                    }

                    .cloumn a:hover {
                        background: $bgr_hover;
                        border-radius: 10px;
                    }
                }

                .profile.ac {
                    opacity: 1;
                    visibility: visible;
                    max-height: 250px;
                }
            }
        }

        .Notification {
            position: relative;

            .Notification_Notification {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 360px;
                right: 0;
                top: 55px;
                overflow-y: hidden;
                max-height: 0;
                //background: $bgr_navbar;
                background: $bgr-1;
                transition: all 0.4s ease;
                box-shadow: $box-shadow;
                padding: 10px 8px;
                border-radius: 20px;
                z-index: 1;

                .Notification_contaier {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 20px;

                    .Notification_Header {
                        display: flex;

                        span {
                            padding: 0 5px;
                        }
                    }

                    hr {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .Notification_Notification.ac {
                max-height: 500px;
                height: fit-content;
                opacity: 1;
                visibility: visible;
                //overflow-y: auto;
            }
        }
    }
}

.btn_use {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 100;
    bottom: 20px;

    .search {
        position: fixed;
        top: 0;
        left: (100%-50%)/2;
        width: 50%;
        //height: 100%;
        background-color: rgba(255, 255, 255, 0.98); 
        z-index: 9999; 
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        padding-top: 100px; 
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none; 
        border-radius: 20px;

        &.ac {
            display: flex;
            opacity: 1;
            pointer-events: auto; 
        }
        .search_form_wrapper {
            width: 90%;
            max-width: 800px; 
            position: relative;
            border-bottom: 2px solid #333; 
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            margin-bottom: 20px;

            input {
                width: 100%;
                border: none;
                background: transparent;
                font-size: 32px; 
                font-weight: 300; 
                color: #000;
                outline: none;

                &::placeholder {
                    color: #ccc;
                    font-style: italic;
                }
            }

            #btn_close_search_box {
                background: none;
                border: none;
                font-size: 32px; 
                cursor: pointer;
                color: #999;
                transition: color 0.3s;
                padding: 0 10px;

                &:hover {
                    color: #d0021b;
                    transform: rotate(90deg); 
                    transition: all 0.3s;
                }
            }
        }
        .search_container {
            width: 90%;
            max-width: 800px;
            background: transparent; 
            max-height: 60vh; 
            overflow-y: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
            .search_item {
                display: flex;
                align-items: center;
                padding: 15px 0;
                border-bottom: 1px dashed #ddd; 
                text-decoration: none;
                color: #333;
                transition: transform 0.2s, background-color 0.2s;

                &:hover {
                    background-color: rgba(0,0,0,0.02);
                    transform: translateX(10px); 
                }

                &:last-child {
                    border-bottom: none;
                }

                img {
                    width: 80px; 
                    height: 80px;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-right: 20px;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                }

                .search_item_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0 0 5px;
                        text-transform: capitalize;
                        color: #000;
                    }

                    span {
                        color: #d0021b; 
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
            .no-result {
                text-align: center;
                color: #999;
                font-size: 18px;
                padding: 30px 0;
                font-style: italic;
            }
        }
    }

    .search.ac {
        top: 70px;
        bottom: 70px;
        opacity: 1;
        visibility: visible;
    }

    .btn_use_container {
        @include flex_center_center;

        div {
            padding: 0 5vw;

            i {
                @include flex_center_center;
                font-size: 1rem;
                //font-weight: bold;
                border: 1px solid black;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: white;
            }
        }

        div:nth-child(2) {
            i {
                font-size: 2rem;
                width: 50px;
                height: 50px;
            }
        }
    }
}

.icon:hover {
    background: $bgr_hover;
}

//@include media-phone {
//    header {
//        .header_container {
//            height: 140px;
//        }
//    }
//}

.search_container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    max-height: 60vh; 
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    border-radius: 0 0 10px 10px; 
    padding: 10px 0;
    margin-top: 20px; 
}

.search_item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

.search_item:last-child {
    border-bottom: none;
}

.search_item:hover {
    background-color: #f9f9f9; 
    text-decoration: none;
    color: #000;
}

.search_item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
    border: 1px solid #eee;
}

.search_item_info h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.search_item_info span {
    color: #d0021b;
    font-weight: bold;
    font-size: 14px;
}

/* --- RESPONSIVE CHO KHUNG SEARCH --- */
@media (max-width: 768px) {
    .search {
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }
    .btn_use .search {
        padding-top: 60px; /* Đẩy lên sát hơn trên mobile */

        .search_form_wrapper {
            width: 95%; /* Mở rộng chiều ngang trên mobile */

            input {
                font-size: 20px; /* Giảm size chữ input */
            }

            #btn_close_search_box {
                font-size: 24px; /* Giảm size nút đóng */
            }
        }

        .search_container {
            width: 95%; /* Kết quả tìm kiếm rộng ra */
            max-height: 70vh; /* Tăng chiều cao hiển thị trên mobile */
            margin-top: 10px;

            .search_item {
                padding: 10px 0; /* Giảm padding từng dòng */

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 15px;
                }

                .search_item_info {
                    h4 {
                        font-size: 16px; /* Giảm size tên sản phẩm */
                        margin-bottom: 2px;
                    }

                    span {
                        font-size: 14px; /* Giảm size giá tiền */
                    }
                }
            }
            /* Thông báo không tìm thấy */
            .no-result {
                font-size: 16px;
                padding: 20px 0;
            }
        }
    }
}

/* --- ĐIỀU CHỈNH NÚT SEARCH TRÊN HEADER KHI Ở MOBILE --- */
@media (max-width: 576px) {
    /* Ẩn bớt icon trên header nếu quá chật, hoặc chỉnh padding */
    .btn_use .btn_use_container div {
        padding: 0 15px; /* Giảm khoảng cách các icon menu dưới */
    }
}