@use "root.scss" as *;

header {
    font-family: "Helvetica Now Text", Helvetica, Ari;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    box-shadow: $box-shadow;
    //display: grid;

    .header_container {
        background: $bgr_navbar !important;
        @include flex_space-around_center;
        //@include flex_
        width: 100%;
        height: 70px;

        .logo {
            width: 150px;
            height: 70px;

            a {
                //background: aqua;
                width: 100%;
            }

            img {
                //background: aqua;
                //width: 100%;
                width: 100%;
                height: 100%;
                //left: 0;
            }
        }

        nav {
            @include flex_space-around_center;
            width: 272px;
            height: 55px;
            border: 1px solid black;
            border-radius: 20px;

            div {
                span {
                    font-family: "Helvetica Neue", sans-serif;
                    font-size: 1.2rem !important;
                    font-weight: 500 !important;
                    cursor: pointer;
                    width: 36px;
                    height: 23px;
                }

                .click_product::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 50px;
                    //background: black;
                    transition: width 0.4s ease;
                }

                a {
                    position: relative;
                    transition: border-bottom 0.3s ease;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: black;
                        transition: width 0.4s ease;
                    }
                    //a::after:hover,
                    //a.ac::after {
                    //    border-bottom: 2px solid black;
                    //}

                    &:hover::after,
                    &.ac::after {
                        width: 100%;
                    }
                }
            }

            .Nam, .Nu, .TreEm {
                position: relative;

                .Product {
                    @include flex_space-around;
                    border-radius: 20px;
                    max-height: 200px;
                    opacity: 0;
                    visibility: hidden;
                    padding: 20px;
                    overflow: hidden;
                    position: absolute;
                    top: 180%;
                    width: 1000px;
                    transform: translateY(5px);
                    //background: $bgr_navbar;
                    background: $bgr-1;
                    box-shadow: $box-shadow;
                    transition: all 0.5s ease;

                    .Product_column {
                        display: flex;
                        flex-direction: column;
                        line-height: 50px;

                        .items {
                            @include flex_center_center;
                            //width: 10px;;
                            img {
                                width: 25px;
                                height: fit-content;
                            }

                            span {
                                margin-bottom: 24px;
                                padding-left: 5px;
                                width: 100px;
                            }
                        }
                    }
                }

                .Nam_Product {
                    left: -400px;
                }

                .Nu_Product {
                    left: -489px;
                }

                .TreEm_Product {
                    left: -565px;
                    opacity: 0;
                }

                .nam_click_product:hover + .Nam_Product {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }

                .Nam_Product:hover {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }

                .nu_click_product:hover + .Nu_Product {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }

                .Nu_Product:hover {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }

                .treEm_click_product:hover + .TreEm_Product {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }

                .TreEm_Product:hover {
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                }
            }
        }

        .user {
            display: flex;
            justify-content: space-between;
            width: 150px;

            div {
                i {
                    @include flex_center_center;
                    font-size: 1rem;
                    border: 1px solid black;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }

                .fa-angle-down {
                    position: absolute;
                    //left: 0;
                    background: white;
                    top: 60%;
                    right: 0;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                }
            }

            div:nth-child(1) {
                position: relative;

                .profile {
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.4s ease;
                    //background: $bgr_navbar;
                    background: $bgr-1;
                    position: absolute;
                    top: 55px;
                    border-radius: 20px;
                    box-shadow: $box-shadow;
                    padding: 10px 20px;
                    z-index: 2;

                    i {
                        width: 25px;
                        height: 25px;
                        color: white;
                        background: black;
                    }

                    .cloumn {
                        @include flex_center_2;
                        height: 40px;
                        width: 210px;

                        a {
                            @include flex_center_2;
                            transition: background 0.3s ease, border-radius 0.3s ease;
                            width: 100%;
                            height: 40px;
                            position: relative;
                            padding: 10px;

                            span {
                                padding-left: 10px;
                            }
                        }

                        .fa-angle-right {
                            right: 10px;
                            border: none;
                            width: fit-content;
                            height: fit-content;
                            position: absolute;
                            color: black;
                            background: none;
                        }
                    }

                    hr {
                        margin: 5px 0;
                    }

                    .cloumn a:hover {
                        background: $bgr_hover;
                        border-radius: 10px;
                    }
                }

                .profile.ac {
                    opacity: 1;
                    visibility: visible;
                    max-height: 250px;
                }
            }
        }

        .Notification {
            position: relative;

            .Notification_Notification {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 360px;
                right: 0;
                top: 55px;
                overflow-y: hidden;
                max-height: 0;
                //background: $bgr_navbar;
                background: $bgr-1;
                transition: all 0.4s ease;
                box-shadow: $box-shadow;
                padding: 10px 8px;
                border-radius: 20px;
                z-index: 1;

                .Notification_contaier {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 20px;

                    .Notification_Header {
                        display: flex;

                        span {
                            padding: 0 5px;
                        }
                    }

                    hr {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .Notification_Notification.ac {
                max-height: 500px;
                height: fit-content;
                opacity: 1;
                visibility: visible;
                //overflow-y: auto;
            }
        }
    }
}

.btn_use {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 100;
    bottom: 20px;

    .search {
        @include flex_center_center;
        flex-direction: column;
        background: blue;
        margin-bottom: 20px;
        position: fixed;
        top: 200px;
        bottom: -200px;
        left: 0;
        width: 100%;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;


        .search_container {
            width: 100%;
            //background: red;
            height: 100%;
            overflow-y: auto;
        }

        form {
            @include flex_center_center;
            position: relative;
        }

        input {
            font-size: 16px;
            height: 40px;
            width: 70vw;
            border-radius: 6.188rem;
            padding: 10px 5rem 10px 2vw;
        }

        button {
            position: absolute;
            right: 2vw;
            background: none;
            border: none;
        }
    }

    .search.ac {
        top: 70px;
        bottom: 70px;
        opacity: 1;
        visibility: visible;
    }

    .btn_use_container {
        @include flex_center_center;

        div {
            padding: 0 5vw;

            i {
                @include flex_center_center;
                font-size: 1rem;
                //font-weight: bold;
                border: 1px solid black;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: white;
            }
        }

        div:nth-child(2) {
            i {
                font-size: 2rem;
                width: 50px;
                height: 50px;
            }
        }
    }
}

.icon:hover {
    background: $bgr_hover;
}


.swiper {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide span {
    position: absolute;
    top: 20vh;
    left: 10vw;
    color: red;
    font-weight: bold;
    font-size: 50px;
}


.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
}

.swiper-pagination-bullet-active {
    background: black !important;
    width: 5px !important;
    height: 20px !important;
    border-radius: 10px !important;
    color: green;
}
