@use "root.scss" as *;

.LIST {
    position: relative;
    transition: 0.5s;

    .btn_list {
        background: #FCF7EE;
        @include flex_space-between_center;
        padding: 10px;
        height: 60px;
        border-radius: 20px;

        .img {
            display: none;
            transition: 0.5s;
        }

        i {
            @include flex_center_center;
            font-size: 20px;
            border-radius: 10px;
            color: #F5F4F1;
            width: 30px;
            height: 30px;
            background: #1D497B;
            //position: absolute;
            z-index: 100;
            left: 100%;
        }
    }

    h3, h2 {
        color: #73574B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        width: 200px;
        //border: 1px solid black;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        width: 180px;
        font-weight: bold;
    }

    .list_menu {
        font-size: $font-family;
        overflow: visible;
        transition: 0.5s;
        max-width: 0;
        opacity: 0;
        height: calc(100vh - 130px);
        visibility: hidden;
        overflow-y: auto;

        .column {
            display: flex;
            flex-direction: column;

            a {
                width: 150px;
                border: none !important;
                //border: 1px solid black;
                font-size: 15px;
            }
        }

        .categoryName {
            padding-left: 20px;
            padding: 0;
            margin: 0;
        }

        .group {
            cursor: pointer;
            font-size: 30px;

            .Catagory {
                padding-left: 20px !important;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
            }
        }

        .group.ac {
            .Catagory {
                max-height: 500px;
                opacity: 1;
                visibility: visible;
            }
        }

        .Catagory {
            cursor: pointer;

            .categoryName {
                padding-left: 20px;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
                //border-left: 1px solid black;
            }

            .categoryName:hover {
            }
        }

        .Catagory.ac {

            .categoryName {
                max-height: 500px;
                opacity: 1;
                visibility: visible;
            }
        }

        .categoryName {
            a.ac {
                color: red;
            }
        }
    }
}

.list_menu.ac {
    max-width: 300px;
    opacity: 1;
    visibility: visible;
}

// reponsive phone
@include media-Tablet {
    .LIST {
        display: none;
    }
}

@include media-phone {
    .LIST {
        display: none;
    }
}
