@use "root.scss" as *;

.LIST {
    position: relative;
    background: $bgr-1;
    transition: 0.5s;

    .btn_list {
        display: flex;
        justify-content: end;

        i {
            @include flex_center_center;
            font-size: 30px;
            border-radius: 10px;
            width: 50px;
            height: 50px;
            background: blue;
            //position: absolute;
            z-index: 100;
            left: 100%;
        }
    }

    h3, h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        width: 200px;
        //border: 1px solid black;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        width: 180px;
    }

    .list_menu {
        font-size: $font-family;
        overflow: visible;
        transition: 0.5s;
        max-width: 0;
        opacity: 0;
        visibility: hidden;
        height: calc(100vh - 70px);
        //overflow-y: auto;
        overflow-y: auto;

        .column {
            display: flex;
            flex-direction: column;

            a {
                width: 150px;
                border: none !important;
                //border: 1px solid black;
                font-size: 15px;
            }
        }

        .categoryName {
            padding-left: 20px;
            padding: 0;
            margin: 0;
        }

        .group {
            font-size: 30px;

            .Catagory {
                padding-left: 20px !important;
            }
        }

        .Catagory {
            .categoryName {
                padding-left: 40px;
                //opacity: 0;
                //max-height: 0;
                //display: none;
                //max-height: 0;
            }
        }
    }
}

.list_menu.ac {
    max-width: 300px;
    opacity: 1;
    visibility: visible;
}

// reponsive phone
@include media-phone {
    .LIST {
        display: none;
    }
}
