@use "root.scss" as *;

.Product_container {
    display: flex;

    .container {
        border: 1px solid black;
        margin-right: 0;
    }
}

.shoe {
    width: 320px;
    height: 400px;
    padding: 20px;
    position: relative;
    background: $bgr_shoe;
    border-radius: 15px;
    color: white;

    a {
        cursor: pointer;
    }

    .shoe_like, .shoe_cart x {
        font-size: 25px;
        position: absolute;
        left: 20px;
        top: 15px;
    }

    .shoe_cart {
        left: unset;
        right: 20px;
    }

    .shoe_img {
        width: 90%;
        transition: 0.5s;
    }

    .shoe_img img {
        width: 100%;
        height: 100%;
        //width: 200px;
        //height: 160px;
        object-fit: cover;
    }

    .shoe_name, .shoe_moeny {
        font-family: $font-family;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        transition: 0.5s;
    }

    .shoe_moeny {
        @include flex_center_1;
        flex-direction: column;
        font-size: 25px;
    }

    .shoe_name {
        color: $shoe_color;
    }

    .size_option, .color_option {
        display: flex;
        margin: 2px 0;

        h3 {
            font-size: 20px;
        }
    }

    .size_option .Size_product {
        padding-left: 5px;
        display: flex;
        flex-wrap: wrap;

        .size-item {
            @include flex_center_center;
            padding: 1px 5px;
            background: #dadada;
            color: black;
            border-radius: 5px;
            margin: 2px 2px;
        }
    }

    .color_option {
        margin-bottom: 15px;

        .Color_product {
            padding-left: 5px;
            display: flex;
            flex-wrap: wrap;

            .bgr-product {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 2px 2px;
            }
        }
    }

    .Shoe_buy {
        a {
            background: $shoe_color;
            color: white;
            padding: 5px 15px;
            border-radius: 5px;
            font-weight: bold;
        }

        a:hover {
            background: $shoe_color_hover;
        }
    }

    .shoe_bottom {
        position: absolute;
        width: 280px;
        bottom: -50px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
}

.shoe:hover {
    .shoe_img {
        transform: translateY(-90px) rotate(-20deg);
    }

    .shoe_name, .shoe_moeny {
        transform: translateY(-72px);
    }

    .size_option, .color_option {
    }

    .shoe_bottom {
        bottom: 25px;
        opacity: 1;
        visibility: visible;
    }
}

@include media-phone {
    .Product_container {
        .container {
            margin: 0;
            padding: 0;
        }
    }

    .shoe {
        transform: scale(0.5);
        transform-origin: top left;
    }
}
