@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    User
*/
$bgr-1: #f5f5dc;
$bgr-2: #c8c8b4;
$bgr-3: #9c9c8d;
$bgr-4: #737368;
$bgr-5: #4c4c45;
$bgr-6: #282825;
$bgr-7: #000;

$bgr: linear-gradient(135deg, #FAF6EB, #EDEDED, #DCDCDC);
$bgr_night: rgba(0, 0, 0, 0.5);
$bgr_navbar: #FAF6EB;
$bgr_hover: #C59D5F;
$bgr_btn: #C19A6B;
$bgr_btn_hover: #A47148;
$color_login_label: #5C5470;
$color_login_label_focus: #8B5E3C;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$bgr_shoe: #272d40;
$font-family: Poppins;
$shoe_color: #4daf54;
$shoe_color_hover: green;

// reponsive smart-phone
@mixin media-phone {
    @media (max-width: 575.98px){
        @content;
    }
}
// reponsive tablet
@mixin media-Tablet {
    @media (min-width: 768px) and (max-width: 991.98px){
        @content;
    }
}
// reponsive destop
@mixin media-destop {
    @media (min-width: 992px) and (max-width: 1199.98px){
        @content;
    }
}



@mixin flex_center_1 {
    display: flex;
    justify-content: center;
}

@mixin flex_center_2 {
    display: flex;
    align-items: center;
}

@mixin flex_space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex_space-around {
    display: flex;
    justify-content: space-around;
}

@mixin flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_space-around_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex_space-between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
