@use "root.scss" as *;
@use "_Loading";
@use "_header.scss";
@use "_footer.scss";
@use "_Login.scss";
@use "_register.scss";
@use "_Product.scss";
@use "_Notification.scss";
@use "_list_menu.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    position: relative;
    height: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.main {
    padding-top: 70px;
    position: relative;
    height: 100%;
}
