@use "root.scss" as *;
@use "_Loading";
@use "_header.scss";
@use "_footer.scss";
@use "_Login.scss";
@use "_register.scss";
@use "_Product.scss";
@use "_Notification.scss";
@use "_list_menu.scss";
@use "_ProductDetail.scss";
@use "_filterProduct.scss";
@use "_cart.scss";
@use "favorite.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}

html, body {
    position: relative;
    height: 100%;
    max-width: 100vw;
    //overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.main {
    padding-top: 70px;
    position: relative;
    height: 100%;
    //overflow-y: auto;
}

.no-scroll {
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide span {
    position: absolute;
    top: 20vh;
    left: 10vw;
    color: red;
    font-weight: bold;
    font-size: 50px;
}


.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
}

.swiper-pagination-bullet-active {
    background: black !important;
    width: 5px !important;
    height: 20px !important;
    border-radius: 10px !important;
    color: green;
}
