@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*
    User
*/
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.Loading .Loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading .Loading_container i {
  display: inline-block;
  animation: spin 1s linear infinite;
  font-size: 50px;
  color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  font-family: "Helvetica Now Text", Helvetica, Ari;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .header_container {
  background: #FAF6EB !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
}
header .header_container .logo {
  width: 150px;
  height: 70px;
}
header .header_container .logo a {
  width: 100%;
}
header .header_container .logo img {
  width: 100%;
  height: 100%;
}
header .header_container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 272px;
  height: 55px;
  border: 1px solid black;
  border-radius: 20px;
}
header .header_container nav div span {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  cursor: pointer;
  width: 36px;
  height: 23px;
}
header .header_container nav div .click_product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 50px;
  transition: width 0.4s ease;
}
header .header_container nav div a {
  position: relative;
  transition: border-bottom 0.3s ease;
}
header .header_container nav div a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.4s ease;
}
header .header_container nav div a:hover::after, header .header_container nav div a.ac::after {
  width: 100%;
}
header .header_container nav .Nam, header .header_container nav .Nu, header .header_container nav .TreEm {
  position: relative;
}
header .header_container nav .Nam .Product, header .header_container nav .Nu .Product, header .header_container nav .TreEm .Product {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  max-height: 200px;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: 180%;
  width: 1000px;
  transform: translateY(5px);
  background: #f5f5dc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
header .header_container nav .Nam .Product .Product_column, header .header_container nav .Nu .Product .Product_column, header .header_container nav .TreEm .Product .Product_column {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}
header .header_container nav .Nam .Product .Product_column .items, header .header_container nav .Nu .Product .Product_column .items, header .header_container nav .TreEm .Product .Product_column .items {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_container nav .Nam .Product .Product_column .items img, header .header_container nav .Nu .Product .Product_column .items img, header .header_container nav .TreEm .Product .Product_column .items img {
  width: 25px;
  height: fit-content;
}
header .header_container nav .Nam .Product .Product_column .items span, header .header_container nav .Nu .Product .Product_column .items span, header .header_container nav .TreEm .Product .Product_column .items span {
  margin-bottom: 24px;
  padding-left: 5px;
  width: 100px;
}
header .header_container nav .Nam .Nam_Product, header .header_container nav .Nu .Nam_Product, header .header_container nav .TreEm .Nam_Product {
  left: -400px;
}
header .header_container nav .Nam .Nu_Product, header .header_container nav .Nu .Nu_Product, header .header_container nav .TreEm .Nu_Product {
  left: -489px;
}
header .header_container nav .Nam .TreEm_Product, header .header_container nav .Nu .TreEm_Product, header .header_container nav .TreEm .TreEm_Product {
  left: -565px;
  opacity: 0;
}
header .header_container nav .Nam .nam_click_product:hover + .Nam_Product, header .header_container nav .Nu .nam_click_product:hover + .Nam_Product, header .header_container nav .TreEm .nam_click_product:hover + .Nam_Product {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container nav .Nam .Nam_Product:hover, header .header_container nav .Nu .Nam_Product:hover, header .header_container nav .TreEm .Nam_Product:hover {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container nav .Nam .nu_click_product:hover + .Nu_Product, header .header_container nav .Nu .nu_click_product:hover + .Nu_Product, header .header_container nav .TreEm .nu_click_product:hover + .Nu_Product {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container nav .Nam .Nu_Product:hover, header .header_container nav .Nu .Nu_Product:hover, header .header_container nav .TreEm .Nu_Product:hover {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container nav .Nam .treEm_click_product:hover + .TreEm_Product, header .header_container nav .Nu .treEm_click_product:hover + .TreEm_Product, header .header_container nav .TreEm .treEm_click_product:hover + .TreEm_Product {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container nav .Nam .TreEm_Product:hover, header .header_container nav .Nu .TreEm_Product:hover, header .header_container nav .TreEm .TreEm_Product:hover {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}
header .header_container .user {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
header .header_container .user div i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
header .header_container .user div .fa-angle-down {
  position: absolute;
  background: white;
  top: 60%;
  right: 0;
  font-size: 15px;
  width: 20px;
  height: 20px;
}
header .header_container .user div:nth-child(1) {
  position: relative;
}
header .header_container .user div:nth-child(1) .profile {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: #f5f5dc;
  position: absolute;
  top: 55px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 2;
}
header .header_container .user div:nth-child(1) .profile i {
  width: 25px;
  height: 25px;
  color: white;
  background: black;
}
header .header_container .user div:nth-child(1) .profile .cloumn {
  display: flex;
  align-items: center;
  height: 40px;
  width: 210px;
}
header .header_container .user div:nth-child(1) .profile .cloumn a {
  display: flex;
  align-items: center;
  transition: background 0.3s ease, border-radius 0.3s ease;
  width: 100%;
  height: 40px;
  position: relative;
  padding: 10px;
}
header .header_container .user div:nth-child(1) .profile .cloumn a span {
  padding-left: 10px;
}
header .header_container .user div:nth-child(1) .profile .cloumn .fa-angle-right {
  right: 10px;
  border: none;
  width: fit-content;
  height: fit-content;
  position: absolute;
  color: black;
  background: none;
}
header .header_container .user div:nth-child(1) .profile hr {
  margin: 5px 0;
}
header .header_container .user div:nth-child(1) .profile .cloumn a:hover {
  background: #C59D5F;
  border-radius: 10px;
}
header .header_container .user div:nth-child(1) .profile.ac {
  opacity: 1;
  visibility: visible;
  max-height: 250px;
}
header .header_container .Notification {
  position: relative;
}
header .header_container .Notification .Notification_Notification {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 360px;
  right: 0;
  top: 55px;
  overflow-y: hidden;
  max-height: 0;
  background: #f5f5dc;
  transition: all 0.4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 8px;
  border-radius: 20px;
  z-index: 1;
}
header .header_container .Notification .Notification_Notification .Notification_contaier {
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}
header .header_container .Notification .Notification_Notification .Notification_contaier .Notification_Header {
  display: flex;
}
header .header_container .Notification .Notification_Notification .Notification_contaier .Notification_Header span {
  padding: 0 5px;
}
header .header_container .Notification .Notification_Notification .Notification_contaier hr {
  padding: 0;
  margin: 0;
}
header .header_container .Notification .Notification_Notification.ac {
  max-height: 500px;
  height: fit-content;
  opacity: 1;
  visibility: visible;
}

.btn_use {
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 100;
  bottom: 20px;
}
.btn_use .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: blue;
  margin-bottom: 20px;
  position: fixed;
  top: 200px;
  bottom: -200px;
  left: 0;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.btn_use .search .search_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.btn_use .search form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn_use .search input {
  font-size: 16px;
  height: 40px;
  width: 70vw;
  border-radius: 6.188rem;
  padding: 10px 5rem 10px 2vw;
}
.btn_use .search button {
  position: absolute;
  right: 2vw;
  background: none;
  border: none;
}
.btn_use .search.ac {
  top: 70px;
  bottom: 70px;
  opacity: 1;
  visibility: visible;
}
.btn_use .btn_use_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_use .btn_use_container div {
  padding: 0 5vw;
}
.btn_use .btn_use_container div i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: white;
}
.btn_use .btn_use_container div:nth-child(2) i {
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

.icon:hover {
  background: #C59D5F;
}

@media (max-width: 575.98px) {
  header .header_container {
    height: 140px;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bgr_login.png") no-repeat center center;
}
.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.login form .input_form {
  position: relative;
  height: 25px;
}
.login form .input_form label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  color: #5C5470;
}
.login form .input_form i {
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
  z-index: 3;
}
.login form .input_form input {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  background: none;
  padding-right: 40px;
}
.login form .input_form input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}
.login form .input_form input:focus + label, .login form .input_form input:not(:placeholder-shown) + label {
  bottom: 30px;
  color: #8B5E3C;
}
.login form button {
  color: white;
  background: #C19A6B;
  border-radius: 20px;
  width: 250px;
  height: 40px;
}
.login form button:hover {
  background: #A47148;
}
.login form .auth-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.login form .auth-links a {
  color: #0D94B2;
}
.login form .auth-links a:hover {
  color: #17629A;
}

.register {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bgr_login.png") no-repeat center center;
}
.register form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.register form .input_form {
  margin-top: 35px;
  position: relative;
  height: 25px;
}
.register form .input_form label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  color: #5C5470;
}
.register form .input_form i {
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
  z-index: 3;
}
.register form .input_form input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  background: none;
  padding-right: 40px;
}
.register form .input_form input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}
.register form .input_form input:focus + label, .register form .input_form input:not(:placeholder-shown) + label {
  bottom: 30px;
  color: #8B5E3C;
}
.register form .row_register {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.register form .row_register .input_form input {
  width: 120px;
}
.register form .row_register .column {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.register form .row_register .column label {
  text-align: center;
  color: #8B5E3C;
}
.register form .row_register .column select {
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  height: 30px;
  width: 90px;
}
.register form .row_register .gender {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.register form .row_register .gender label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B5E3C;
  padding-right: 20px;
}
.register form .row_gender {
  justify-content: space-around;
}
.register form .btn_register {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.register form .btn_register button, .register form .btn_register a {
  color: white;
  background: #C19A6B;
  border-radius: 20px;
  width: 150px;
  height: 40px;
}
.register form .btn_register button:hover, .register form .btn_register a:hover {
  background: #A47148;
}
.register form .btn_register button {
  border: 1px solid black;
}
.register form .btn_register a {
  padding: 8.5px 19px;
  border: 1px solid black;
}
.register form .auth-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.register form .auth-links a {
  color: #0D94B2;
}
.register form .auth-links a:hover {
  color: #17629A;
}

.Product_container {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.Product_container .Product_list_menu {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 10;
}
.Product_container .container {
  margin-left: 60px;
  margin-right: 0;
  transition: 0.5s;
  max-width: 100%;
}
.Product_container .container nav {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 70px;
  width: 100%;
  z-index: 10;
  background: white;
}
.Product_container .container .product_item {
  width: fit-content;
}
.Product_container .container .product-list {
  width: 100%;
}
.Product_container .container .btn_filter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product_container .container .btn_filter span {
  padding-right: 5px;
}
.Product_container .container.ac {
  margin-left: 200px !important;
}
.Product_container .Product_video {
  position: fixed;
  top: 70px;
  right: 0;
  max-width: 400px;
}
.Product_container .Product_video video {
  width: 100%;
}

.shoe {
  width: 320px;
  height: 400px;
  padding: 20px;
  position: relative;
  background: #272d40;
  border-radius: 15px;
  color: white;
}
.shoe a {
  cursor: pointer;
}
.shoe .shoe_like, .shoe .shoe_cart {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 1;
  transition: 0.5s;
}
.shoe .shoe_like i, .shoe .shoe_cart i {
  color: white;
}
.shoe .shoe_cart {
  left: unset;
  right: 20px;
}
.shoe .shoe_img {
  width: 90%;
  transition: 0.5s;
}
.shoe .shoe_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shoe .shoe_name, .shoe .shoe_moeny {
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
}
.shoe .shoe_moeny {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}
.shoe .shoe_name {
  color: #4daf54;
}
.shoe .size_option, .shoe .color_option {
  display: flex;
  margin: 2px 0;
}
.shoe .size_option h3, .shoe .color_option h3 {
  font-size: 20px;
}
.shoe .size_option .Size_product {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.shoe .size_option .Size_product .size-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
  background: #dadada;
  color: black;
  border-radius: 5px;
  margin: 2px 2px;
}
.shoe .color_option {
  margin-bottom: 15px;
}
.shoe .color_option .Color_product {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.shoe .color_option .Color_product .bgr-product {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px 2px;
}
.shoe .Shoe_buy a {
  background: #4daf54;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}
.shoe .Shoe_buy a:hover {
  background: green;
}
.shoe .shoe_bottom {
  position: absolute;
  width: 280px;
  bottom: -50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.shoe:hover .shoe_img {
  transform: translateY(-90px) rotate(-20deg);
}
.shoe:hover .shoe_name, .shoe:hover .shoe_moeny {
  transform: translateY(-72px);
}
.shoe:hover .shoe_bottom {
  bottom: 25px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 575.99px) and (max-width: 991.98px) {
  .container-fluid {
    padding: 2px;
  }
  .Product_container {
    width: auto;
  }
  .Product_container .container {
    margin: 0;
    padding: 0;
  }
  .product_item {
    padding: 0;
  }
  .product-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .shoe {
    zoom: 0.75;
  }
}
@media (max-width: 575.98px) {
  .container-fluid {
    padding: 2px;
  }
  .product_item {
    padding: 0;
  }
  .product-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .Product_container {
    width: auto;
  }
  .Product_container .container {
    margin: 0;
    padding: 0;
  }
  .shoe {
    zoom: 0.5;
  }
}
.flying-heart {
  position: fixed;
  z-index: 9999;
  color: red;
  font-size: 25px;
  pointer-events: none;
  transition: top 1s ease-in-out, left 1s ease-in-out, transform 1s ease-in-out, opacity 2s ease-in-out;
}

.LIST {
  position: relative;
  transition: 0.5s;
}
.LIST .btn_list {
  background: #FCF7EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-radius: 20px;
}
.LIST .btn_list .img {
  display: none;
  transition: 0.5s;
}
.LIST .btn_list i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  color: #F5F4F1;
  width: 30px;
  height: 30px;
  background: #1D497B;
  z-index: 100;
  left: 100%;
}
.LIST h3, .LIST h2 {
  color: #73574B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  width: 200px;
}
.LIST h2 {
  font-size: 25px;
}
.LIST h3 {
  font-size: 20px;
  width: 180px;
  font-weight: bold;
}
.LIST .list_menu {
  font-size: Poppins;
  overflow: visible;
  transition: 0.5s;
  max-width: 0;
  opacity: 0;
  height: calc(100vh - 130px);
  visibility: hidden;
  overflow-y: auto;
}
.LIST .list_menu .column {
  display: flex;
  flex-direction: column;
}
.LIST .list_menu .column a {
  width: 150px;
  border: none !important;
  font-size: 15px;
}
.LIST .list_menu .categoryName {
  padding-left: 20px;
  padding: 0;
  margin: 0;
}
.LIST .list_menu .group {
  cursor: pointer;
  font-size: 30px;
}
.LIST .list_menu .group .Catagory {
  padding-left: 20px !important;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.LIST .list_menu .group.ac .Catagory {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.LIST .list_menu .Catagory {
  cursor: pointer;
}
.LIST .list_menu .Catagory .categoryName {
  padding-left: 20px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.LIST .list_menu .Catagory.ac .categoryName {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.LIST .list_menu .categoryName a.ac {
  color: red;
}

.list_menu.ac {
  max-width: 300px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 575.99px) and (max-width: 991.98px) {
  .LIST {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .LIST {
    display: none;
  }
}
.ProductDetail {
  position: relative;
  overflow: hidden;
}
.ProductDetail .ProductDetail_container {
  display: flex;
  justify-content: center;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail {
  display: flex;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #ImgList {
  display: flex;
  flex-direction: column;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #ImgList img {
  width: 60px;
  height: fit-content;
  padding: 4px;
  padding-top: 0;
  padding-bottom: 8px;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #ImgList img.ac {
  border: 1px solid black;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #RenderImg {
  position: relative;
  padding: 0 10px;
  height: fit-content;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #RenderImg img {
  width: 500px;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #RenderImg .RenderImg_btn {
  position: absolute;
  left: 0;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ProductDetail .ProductDetail_container .ProductDetail_imgDetail #RenderImg .RenderImg_btn .RenderImg_btn_left, .ProductDetail .ProductDetail_container .ProductDetail_imgDetail #RenderImg .RenderImg_btn .RenderImg_btn_right {
  font-size: 30px;
  color: black;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content {
  width: 400px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order {
  padding: 20px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order a {
  cursor: pointer;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Color div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Color div .btn_SelectedColor div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2px 2px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Color div .btn_SelectedColor.ac {
  border: 5px solid black;
  border-radius: 50%;
  padding: 2px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Size div {
  display: flex;
  align-items: center;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Size div .btn_SelectedSize div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  background: #dadada;
  color: black;
  border-radius: 5px;
  margin: 2px 2px;
  font-size: 20px;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .Size div .btn_SelectedSize.ac div {
  background: #333;
  color: white;
  border: 2px solid white;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .ProductDetail_Form_btn button {
  /* Reset cơ bản */
  background: red;
  border: none;
  padding: 0;
  margin: 0;
  /* Reset font (phải đủ bộ) */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; /* Thêm cái này cho chắc */
  line-height: inherit;
  color: inherit;
  /* Reset căn lề */
  text-align: inherit;
  vertical-align: baseline;
  /* Reset trình duyệt */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  cursor: pointer;
  height: fit-content;
  width: auto;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .ProductDetail_Form_btn button ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .ProductDetail_Form_btn button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .Form_Order .ProductDetail_Form_btn a {
  background: red;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .ProductDetail_ChiTietSanPham {
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .ProductDetail_GiaoHangFree {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .ProductDetail_GiaoHangFree_Content {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: 0.5s;
}
.ProductDetail .ProductDetail_container .ProductDetail_form_content .ProductDetail_GiaoHangFree_Content.ac {
  opacity: 1;
  visibility: visible;
  max-height: 200px;
}
.ProductDetail .ProductDetail_ChiTiet {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content {
  position: absolute;
  top: 1000px;
  width: 726px;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  padding: 48px;
  border-radius: 24px;
  transition: 0.5s;
  max-height: 612px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_btn {
  position: absolute;
  border-radius: 50%;
  background: #CACACB;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea {
  overflow-y: auto;
  max-height: 520px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea .ProductDetail_ChiTiet_Content_title {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea .ProductDetail_ChiTiet_Content_key {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea .ProductDetail_ChiTiet_Content_key ul li {
  font-size: 16px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea::-webkit-scrollbar {
  width: 6px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.ProductDetail .ProductDetail_ChiTiet .ProductDetail_ChiTiet_Content .ProductDetail_ChiTiet_Content_ScrollArea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ProductDetail .ProductDetail_ChiTiet.ac {
  opacity: 1 !important;
  visibility: visible !important;
  background: rgba(0, 0, 0, 0.5);
}
.ProductDetail .ProductDetail_ChiTiet.ac .ProductDetail_ChiTiet_Content {
  bottom: 10px;
  top: 20px;
}

.Filter {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.Filter .Filter_Product {
  width: 390px;
  height: calc(100vh - 70px);
  position: absolute;
  padding: 5px 15px;
  right: -390px;
  background: #f5f5dc;
  transition: 0.5s;
  overflow-y: auto;
}
.Filter .Filter_Product .btn_filter {
  display: flex;
  justify-content: end;
  align-items: center;
}
.Filter .Filter_Product .btn_filter i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
}
.Filter .Filter_Product .filter_rangeSlider {
  margin-top: 10px;
}
.Filter .Filter_Product .filter_rangeSlider span {
  font-size: 20px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper {
  position: relative;
  width: 100%;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .values {
  position: relative;
  font-weight: 400;
  font-size: 20px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .values #range1, .Filter .Filter_Product .filter_rangeSlider .wrapper .values #range2 {
  font-family: Poppins;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .values #range1 {
  position: absolute;
  left: 0;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .values #range2 {
  position: absolute;
  right: 0;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container {
  position: relative;
  width: 100%;
  height: 100px;
  left: 0;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container .slider-track {
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 0px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-ms-track {
  appearance: none;
  height: 0px;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
  border: none;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
.Filter .Filter_Product .filter_rangeSlider .wrapper .container input[type=range]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #3264fe;
}
.Filter .Filter_Product .btn_filterCS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
}
.Filter .filter_CS {
  width: 390px;
  height: calc(100vh - 70px);
  position: absolute;
  padding: 5px 15px;
  right: 0;
  z-index: 1;
  background: #f5f5dc;
  opacity: 0;
  visibility: hidden;
}
.Filter .filter_CS .btn_filterCS_CS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Filter .filter_CS .btn_filterCS_CS i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 25px;
  height: 25px;
}
.Filter .filter_CS .filter_size_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Filter .filter_CS .filter_size_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: red;
  margin: 5px;
}
.Filter .filter_CS .filter_size_container > div.ac {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.Filter .filter_CS .filter_list_CS {
  margin-top: 15px;
  margin-left: 390px;
  transition: 0.5s;
  max-height: calc(100vh - 210px);
}
.Filter .filter_CS.ac {
  opacity: 1;
  visibility: visible;
}
.Filter .filter_CS.ac .filter_list_CS {
  margin-left: 0;
}
.Filter .btn_render_product_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  position: absolute;
  bottom: 20px;
}
.Filter .btn_render_product_filter a, .Filter .btn_render_product_filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid black;
  background: #c8c8b4;
  font-size: 20px;
  width: 150px;
  height: 50px;
  color: white;
}

.Filter.ac {
  opacity: 1;
  visibility: visible;
}
.Filter.ac .Filter_Product {
  right: 0;
}

.cart {
  max-height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cart > div:first-child {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  border: 1px solid #ddd;
}
.cart .table {
  width: 100%;
  border-collapse: collapse;
}
.cart .table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}
.cart .table img {
  width: 50px;
  object-fit: cover;
}
.cart form {
  width: 300px;
}

.favorite tbody img {
  width: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

html, body {
  position: relative;
  height: 100%;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.main {
  padding-top: 70px;
  position: relative;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide span {
  position: absolute;
  top: 20vh;
  left: 10vw;
  color: red;
  font-weight: bold;
  font-size: 50px;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  width: 5px !important;
  height: 20px !important;
  border-radius: 10px !important;
  color: green;
}
