.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.Loading .Loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading .Loading_container i {
  display: inline-block;
  animation: spin 1s linear infinite;
  font-size: 50px;
  color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .header_container {
  background: #FAF6EB !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
}
header .header_container .logo {
  width: 150px;
  height: 70px;
}
header .header_container .logo a {
  width: 100%;
}
header .header_container .logo img {
  width: 100%;
  height: 100%;
}
header .header_container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 272px;
  height: 55px;
  border: 1px solid black;
  border-radius: 20px;
}
header .header_container nav div span {
  font-family: Helvetica Neue-500;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  cursor: pointer;
  width: 36px;
  height: 23px;
}
header .header_container nav div span:hover {
  border-bottom: 2px solid black;
}
header .header_container nav div span.ac {
  border-bottom: 2px solid black;
}
header .header_container .user {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
header .header_container .user div i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
header .header_container .user div .fa-angle-down {
  position: absolute;
  background: white;
  top: 60%;
  right: 0;
  font-size: 15px;
  width: 20px;
  height: 20px;
}
header .header_container .user div:nth-child(1) {
  position: relative;
}
header .header_container .user div:nth-child(1) .profile {
  display: none;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 55px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
header .header_container .user div:nth-child(1) .profile .cloumn {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 10px;
}
header .header_container .user div:nth-child(1) .profile .cloumn a {
  color: white;
}
header .header_container .user div:nth-child(1) .profile .cloumn .fa-angle-right {
  right: 0;
  border: none;
  width: fit-content;
  height: fit-content;
  color: white;
  position: absolute;
}
header .header_container .user div:nth-child(1) .profile .column_profile {
  border-bottom: 1px solid white;
}
header .header_container .user div:nth-child(1) .profile .column_logOut {
  border-top: 1px solid white;
}
header .header_container .user div:nth-child(1) .profile .cloumn:hover {
  background: red;
}

.profile.ac {
  display: block !important;
}

.btn_use {
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 100;
  bottom: 20px;
}
.btn_use .search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  display: none;
}
.btn_use .search form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn_use .search input {
  font-size: 16px;
  height: 40px;
  width: 70vw;
  border-radius: 6.188rem;
  padding: 10px 5rem 10px 2vw;
}
.btn_use .search button {
  position: absolute;
  right: 2vw;
  background: none;
  border: none;
}
.btn_use .btn_use_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_use .btn_use_container div {
  padding: 0 5vw;
}
.btn_use .btn_use_container div i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: white;
}
.btn_use .btn_use_container div:nth-child(2) i {
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide span {
  position: absolute;
  top: 20vh;
  left: 10vw;
  color: red;
  font-weight: bold;
  font-size: 50px;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  width: 5px !important;
  height: 20px !important;
  border-radius: 10px !important;
  color: green;
}

.login {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bgr_login.png") no-repeat center center;
}
.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.login form .input_form {
  position: relative;
  height: 25px;
}
.login form .input_form label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  color: #5C5470;
}
.login form .input_form i {
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
  z-index: 3;
}
.login form .input_form input {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  background: none;
  padding-right: 40px;
}
.login form .input_form input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}
.login form .input_form input:focus + label, .login form .input_form input:not(:placeholder-shown) + label {
  bottom: 30px;
  color: #8B5E3C;
}
.login form button {
  color: white;
  background: #C19A6B;
  border-radius: 20px;
  width: 250px;
  height: 40px;
}
.login form button:hover {
  background: #A47148;
}
.login form .auth-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.login form .auth-links a {
  color: #0D94B2;
}
.login form .auth-links a:hover {
  color: #17629A;
}

.register {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bgr_login.png") no-repeat center center;
}
.register form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.register form .input_form {
  margin-top: 35px;
  position: relative;
  height: 25px;
}
.register form .input_form label {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  color: #5C5470;
}
.register form .input_form i {
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
  z-index: 3;
}
.register form .input_form input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  background: none;
  padding-right: 40px;
}
.register form .input_form input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}
.register form .input_form input:focus + label, .register form .input_form input:not(:placeholder-shown) + label {
  bottom: 30px;
  color: #8B5E3C;
}
.register form .row_register {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.register form .row_register .input_form input {
  width: 120px;
}
.register form .row_register .column {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.register form .row_register .column label {
  text-align: center;
  color: #8B5E3C;
}
.register form .row_register .column select {
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  height: 30px;
  width: 90px;
}
.register form .row_register .gender {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.register form .row_register .gender label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B5E3C;
  padding-right: 20px;
}
.register form .row_gender {
  justify-content: space-around;
}
.register form .btn_register {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.register form .btn_register button, .register form .btn_register a {
  color: white;
  background: #C19A6B;
  border-radius: 20px;
  width: 150px;
  height: 40px;
}
.register form .btn_register button:hover, .register form .btn_register a:hover {
  background: #A47148;
}
.register form .btn_register button {
  border: 1px solid black;
}
.register form .btn_register a {
  padding: 8.5px 19px;
  border: 1px solid black;
}
.register form .auth-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.register form .auth-links a {
  color: #0D94B2;
}
.register form .auth-links a:hover {
  color: #17629A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.main {
  padding-top: 70px;
  position: relative;
  height: 100%;
}
